    bory {
        background-color: brown;
        color: aquamarine;
        font-family: "Poppins", sans-serif;
        display: flex;
        justify-content: center;
        align-items: ;
        height: 700px;
        margin: 0;
    }

button {
    background-color: aqua;
    color: aqua;
    font-family: ;  "Poppins", sans-serif;
}

.passo  {
     display: nome:
}

.passo.ottvo {
    font-display: block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;

}

